{% extends "rapid_app_templates/base.html" %}

{% block page_title %}
Rapid Manager - tasks
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    hr {
        margin-top: 2em; }
    p {
        font-size: 125%;
        margin-top:1.5em; }
</style>

<h1 id="tasks">tasks (under construction)</h1>

<p id="process_file_from_rapid">
    <a href="http://google.com">Process File From Rapid</a>
</p>

<h1 id="history">history</h1>

<hr/>

{% endblock content %}
