{% extends "rapid_app_templates/base.html" %}

{% block page_title %}
Rapid Manager - tasks
{% endblock page_title %}


{% block content %}

<style>
    h1 {
        font-size: 2.5em;
        margin-top: 2em;
        text-transform: none }
    hr {
        margin-top: 2em; }
    p {
        font-size: 125%;
        margin-top:1.5em; }
    ul {
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }
    li {
        display: list-item; }
</style>

<h1 id="tasks">tasks </h1>

<p id="grab_file_from_rapid">
    Grab File From Rapid -- clickable link coming
    <ul>
        <li>For now, put file at: `({{ file_data.host }}) {{ file_data.path }}`</li>
        {% if file_data.exists %}
        <li>File currently exists at that path.</li>
        <li>Date last changed: {{ file_data.date }}</li>
        <li>Size: {{ file_data.size }}</li>
        {% endif %}
    </ul>
</p>

<p id="process_file_from_rapid">
    <a href={{ process_file_from_rapid_url }}>Process File From Rapid</a>
    <ul>
        <li>Takes 15-20 minutes.</li>
        <li>You can close browser window and processing will continue just fine.</li>
    </ul>
</p>

<p id="check_new_data">
    <a href="{{ check_data_url }}">Check processed data</a>
</p>

<p id="update_issn_table">
    Update ISSN table -- clickable link coming
</p>

<p id="create_ss_file">
    <a href="{{ create_ss_file_url }}">Create file for serials-solutions</a>
</p>

{% comment %}
<h1 id="history">history</h1>

{% for record in history %}
<div class="record">
<p class="date">date: {{ record.date }}</p>
    <li>user: {{ record.user }}</li>
    <li>task: {{ record.task }}</li>
    <li>status: {{ record.status }}</li>
</div>
{% endfor %}
{% endcomment %}


<hr/>

{% endblock content %}
